*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
   --hue: 200;
   --saturation: 1%;
   --lightness: 51%;
   --lightness-offset: 0%;
}
body{
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 1em;
    font-size: clamp(0.5rem, 2.5vmin, 1.5em);
}
.keyboard{
    display: grid;
    grid-template-columns: repeat(20, minmax(auto, 1.25rem));
    grid-auto-rows: 3em;
    gap: 0.25em;
    justify-content: center;
}
.key{
    font-size: inherit;
    grid-column: span 2;
    padding: 0;
    border: none;
    align-items: center;
    background-color: hsl(var(--hue),var(--saturation),calc(var(--lightness) + var(--lightness-offset)));
    color: white;
    border-radius: .25em;
    cursor: pointer;
    user-select: none;
}   
.key.large{
    grid-column: span 3;
}
.key:hover, .key:focus{
    --lightness-offset: 10%
}
.key.wrong{
    --lightness: 23%
}
.key.wrong-selected{
    --hue: 49;
    --saturation: 51%;
    --lightness: 47%;
}
.key.correct{
    --hue: 115;
    --saturation: 29%;
    --lightness: 43%;
}
.grid.you{
    display: grid;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
    grid-template-columns: repeat(5, 3.5em);
    grid-template-rows: repeat(6, 3.5em);
    gap: 0.25em;
    margin-bottom: 1em;
    user-select: none;
}
.grid.opponent{
    display: grid;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
    grid-template-columns: repeat(5, 3.5em);
    grid-template-rows: repeat(6, 3.5em);
    gap: 0.25em;
    margin-bottom: 1em;
    user-select: none;
}
.join-container{
    z-index: 1;
    color: black;
    position: fixed;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    top: 25vh;
    left: 50vw;
    transform: translateX(-50%);
    width: 20em;
    height: 20em;
    /* background: black; */
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.2)
    );
    backdrop-filter: blur(1rem);
    border-radius: 1em;
    /* opacity: 0.8; */
}
.join-container.hide{
    display: none;
}
.restart-container{
    z-index: 1;
    color: black;
    position: fixed;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    top: 25vh;
    left: 50vw;
    transform: translateX(-50%);
    width: 20em;
    height: 20em;
    /* background: black; */
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.2)
    );
    backdrop-filter: blur(1rem);
    border-radius: 1em;
    /* opacity: 0.8; */
}
.restart-container.hide{
    display: none;
}
.btn{
    padding: 1em;
    border: 0.1em solid white;
    border-radius: 1em;
    width: 15em;
    cursor: pointer;
    opacity: 1;
    font-size: 1em;
    color: black;
    font-weight: bold;
    transition: 0.5s ease ;
}
.btn:hover{
    filter: brightness(120%);
}
.btn-container{
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;
}
.tile{
    display: flex;
    font-size: 1.5em;
    justify-content: center;
    align-items: center;
    color: white;
    border: .05em solid hsl(240,2%,23%);
    text-transform: uppaercase;
    font-weight: bold;
    transition: transform 250ms linear;
}
.tile[data-state="wrong"]{
    border: none;
    background-color: hsl(240,2%,23%);
}
.tile[data-state="correct"]{
    border: none;
    background-color: hsl(115,29%,43%);
}
.tile[data-state="active"]{
    border-color: hsl(240,1%,34%);
}
.tile[data-state="wrong-selected"]{
    border: none;
    background-color: hsl(40,51%,47%);
}
.new-game{
    border: none;
    padding: 0.5em;
    font-size: inherit;
    border-radius: 0.5em;
}
.grid-container{
    display: flex;
    margin-bottom: 4em;
    color: white;
    gap: 10em;
    justify-content: center;
    flex-wrap: wrap;
}
.alert-container{
    z-index: 1;
    position: fixed;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    top: 10vh;
    left: 50vw;
    transform: translateX(-50%);
}
.alert:last-child{
    margin-bottom: 0;
}
.alert{
    background-color: white;
    color: black;
    margin-bottom: 0.5em;
    z-index: 1;
    padding: 0.8em;
    border-radius: 0.8em;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
    user-select: none;
}
.alert-hide{
    opacity: 0;
}

.tile.shake{
    animation: shake 250ms ease-in-out;

}
.room-code {
    border: none;
    padding: 1em;
    width: 15em;
    border-radius: 1em;
    margin-bottom: 1em;
    font-size: 1em;
}
.join-btn-container{
    text-align: center  ;
}
@keyframes shake{
    10%{
        transform: translateX(-5%);
    }
    30%{
        transform: translateX(5%);
    }
    50%{
        transform: translateX(-7.5%);
    }
    70%{
        transform: translateX(7.5%);
    }
    90%{
        transform: translateX(5%);
    }
    100%{
        transform: translateX(0);
    }
}

.tile.flip{
    transform: rotateX(90deg);
}

.tile.dance{
    animation: dance 500ms ease-in-out;

}

@keyframes dance{
    20%{
        transform: translateY(-50%);
    }
    40%{
        transform: translateY(5%);
    }
    60%{
        transform: translateY(-12.5%);
    }
    80%{
        transform: translateY(2.5%);
    }
    90%{
        transform: translateY(-5%);
    }
    100%{
        transform: translateY(0);
    }
}
@media screen and (max-width: 500px) {
    .grid{
        grid-template-columns: repeat(5, 5em);
    grid-template-rows: repeat(6, 5em);
    }
    .grid.opponent{
        grid-template-columns: repeat(5, 3em);
        grid-template-rows: repeat(6, 3em);
    }
    .keyboard{
        grid-auto-rows: 5em;
        font-size: 1.2em;
        font-weight: bold;
    }
    .tile{
        font-size: 2em;
    }

}